@import "tailwindcss";
html, body, #root {
  width: 100%;
  win-height: 100%;
}

body {
  backgrund: #050505;
  color: white;
  overflow-x: hidden;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}